/* App Fonts */

@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNorms-Regular.otf") format("openType");
}
@font-face {
  font-family: "TTNorms Medium";
  src: url("../fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
  font-family: "TTNorms Light";
  src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
  font-family: "Times Roman Italic";
  src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}

/* Normalize Css */

::selection {
  background-color: #0046af;
  color: white;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0; /* 3 */
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Start Project */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "TTNorms";
}

.container {
  max-width: 74rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* top header section */
.header {
  width: 100%;
  background-color: white;
  padding-top: 1rem;
}
.navbar-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.logo-name {
  margin: 0;
}
.logo-name a {
  text-decoration: none;
  color: black;
}
.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 0 0 2rem;
}
.menu-item {
  color: #081d43;
  cursor: pointer;
}
.contact-link {
  text-decoration: none;
  background-color: #0050c8;
  color: white;
  min-width: 100px;
  text-align: center;
  padding: 0.5rem 1rem;
  box-sizing: content-box;
  border-radius: 6px;
  transition: all ease 0.2s;
}

.contact-link:hover {
  background-color: #0066ff;
}
/* bottom header section */

.bottom {
  margin-top: 5rem;
}
.side-wrapper {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-wrapper {
  max-width: 30rem;
}
.header-heading {
  line-height: 2rem;
}
.header-para {
  text-align: start;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 2rem;
  color: #6c7890;
}
.btn-section {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  margin-top: 2rem;
}
.contact-us {
  flex-basis: 5rem;
  box-sizing: content-box;
  background-color: #87bc25;
  padding: 0.7rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-weight: 500px;
}
.works {
  flex-basis: 6.5rem;
  box-sizing: content-box;
  background-color: #0050c8;
  padding: 0.7rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-weight: 500px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: all ease 0.4s;
  border: none;
}

.works::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -20px;
  bottom: -20px;
  border-top-right-radius: 100%;
  background-color: white;
  transition: all ease 0.7s;
  z-index: -1;
}

.works:hover::before {
  width: 400%;
  height: 400%;
}

.works:hover {
  color: black;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 10px;
  transform: translateY(-10px);
}

.header-logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* section how it work */

.main {
  max-width: 100%;
  margin-top: 6rem;
}

.how-it-work__heading {
  text-align: center;
  text-transform: uppercase;
  color: #6c7890;
  font-size: 0.7rem;
}
.how-it-work__para {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
.how-it-work-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 3rem;
}
.how-it-work-item {
  cursor: pointer;
  flex-basis: 21rem;
  background-color: #0050c8;
  border-radius: 10px 2px 10px 2px;
  padding: 1rem;
  color: white;
  transition: all ease 0.3s;
}

.how-it-work-item:hover {
  transform: translateY(-10px);
  background-color: #014bb9;
  box-shadow: 0 20px 13px rgba(0, 0, 0, 0.12);
}
.item-para {
  margin-top: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.9rem;
  color: #f1f1f1;
}
.how-it-work-image-section {
  max-width: 35rem;
  margin: 2rem auto;
}
.main-img {
  width: 100%;
  height: 100%;
}

/* comments section */

.comments {
  background-color: #2f5bea;
  box-sizing: border-box;
  padding: 1rem 7rem calc(1rem + 19.92px);
}
.comments-heading {
  text-align: center;
  color: white;
}
.comments-para {
  text-align: center;
  color: white;
  max-width: 29rem;
  margin: 0 auto;
  line-height: 1.5rem;
}
.comments-items-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  box-sizing: border-box;
}
.comments-item {
  flex-basis: 20rem;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 15rem;
}
.comments-item-para {
  padding: 0 1rem;
  text-align: start;
  color: #525252;
}
.comments-item-bottom {
  border-top: 1px solid #d9d8d8;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.user-profile-name {
  color: #1e1e1e;
}

.brands {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8rem;
}

/* start portfolie */

.portfolie {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.portfolie-heading {
  text-align: center;
  color: #6c7890;
  font-size: 0.9rem;
  margin-top: 0;
}
.portfolie-para {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #081d43;
  margin-bottom: 4rem;
}
.portfolie-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem 0;
}
.portfolie-item {
  flex-basis: 20rem;
  height: 14rem;
  overflow: hidden;
  border-radius: 5px;
}
.portfolie-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* starts footer */

.top-footer {
  background-color: #0066ff;
}
.top-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20rem;
}
.footer-heading {
  color: white;
  font-weight: 400;
}
.footer-email {
  width: auto;
  position: relative;
}
.email-input {
  border: none;
  outline: none;
  width: 20rem;
  height: 50px;
  padding: 0 66px 0 16px;
  border-radius: 4px;
  font-size: 1.2rem;
}
.email-btn {
  position: absolute;
  border: none;
  outline: none;
  background-color: #0066ff;
  color: white;
  width: 50px;
  height: 40px;
  top: 5px;
  right: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: all ease 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-btn:hover {
  background-color: #0056d8;
}

.icons {
  width: 1.5rem;
}

.bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6c7890;
}

/* Project Responsive */

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
